{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container-fluid" style="background-color: #f8f9fa; padding: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-5 text-dark">Welcome to the Print Phrase Agency</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="mt-4 text-dark">Latest Newspapers</h2>
            <ul class="list-group">
                {% for newspaper in newspapers %}
                <li class="list-group-item" style="background-color: #fff;">
                    <a href="{% url 'press:newspaper-detail' pk=newspaper.id %}" class="text-dark font-weight-bold">{{ newspaper.name }}</a> - {{ newspaper.published_date }}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-6">
            <h2 class="mt-4 text-dark">Redactors with Most Publications</h2>
            <ul class="list-group">
                {% for redactor in redactors_top %}
                <li class="list-group-item" style="background-color: #fff;">
                    <a href="{% url 'press:redactor-detail' pk=redactor.id %}" class="text-dark font-weight-bold">{{ redactor.username }}</a> - {{ redactor.num_publications }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-4 text-dark">The Most Popular Topics</h2>
            <ul class="list-group">
                {% for topic in topics %}
                  <li class="list-group-item" style="background-color: #fff;"><a href="{% url "press:topic-detail" pk=topic.id %}">{{ topic.name }} - {{ topic.newspapers.count }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
