{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container">
  <h1 class="mb-4">Newspaper</h1>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.name.id_for_label }}"></label>
          {{ form|crispy }}
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}
