{% extends "base.html" %}

{% block content %}
<h1>{{ topic.name }}</h1>
  <a href="{% url "press:topic-update" pk=topic.id %}" class="btn btn-primary link-to-page">Update Topic's name</a>
  <h4>Newspapers of following topic</h4>
  <ul>
    {% for newspaper in topic.newspapers.all %}
      <li><a href="{% url "press:newspaper-detail" pk=newspaper.id %}">{{ newspaper }}</a></li>
    {% endfor %}
  </ul>
  <a href="{% url "press:topic-delete" pk=topic.id %}" class="btn btn-danger link-to-page">
    Delete topic
  </a>
{% endblock %}